
/* Styles Weekly Calendar Webpart */

#eventos-calendario {
	background-color: #0033a0;
	width: 100%;
    max-height: 470px;
	display: table;
}
    
#eventos-calendario #home-feat-eventos {
	padding: 30px;
}

#eventos-calendario #home-feat-eventos-title {
    float: none;
    padding: 0 0 20px 0;
    border-right: none;
    text-align: center;
}

#eventos-calendario #home-feat-eventos-title h1 {
	font-family: Arial, Helvetica, sans-serif;
    color: white !important;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 5px;
    line-height: 2;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    display: inline-block;
    padding: 0 0 5px 0;
    border-bottom: 2px solid;
}
	
#home-feat-eventos-title h2 {
	text-align: left;
	display: block;
	margin-top: 10px;
	padding: 0;
	display: none;
}

#home-feat-eventos-title h2 a {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #C95C36;
    padding: 10px 25px;
}

#home-feat-eventos-title h2 a:hover {
    text-decoration: none;
}

#home-feat-eventos-title h2 a:hover {
    background-color: #A94A28;
}

#home-feat-eventos-desc {
    width: 100%;
    padding: 0 0 10px 0;
}

#home-feat-eventos-desc h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: normal;
	letter-spacing: 2px;
	line-height: 2;
	margin: 0 0 10px 0;
	text-align: center;
}

#home-feat-eventos-desc a {
	color: #fff;
}

#home-feat-eventos-desc p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
    color: #F7F7F7;
    letter-spacing: 1px;
    line-height: 2.5;
    max-height: 185px;
    overflow: hidden;
    margin: 0;
    text-align: center;
}

#home-feat-eventos-c2a {
    display: table;
    text-align: center;
    margin: auto;
}

#home-feat-eventos-c2a a {
    font-family: Arial, Helvetica, sans-serif;
    color: #0033a0;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 15px 30px;
    background-color: #E3E829;
    width: 100%;
    display: inline-block;
}

#home-feat-eventos-c2a a:hover {
    background-color: #e3e829;
}

#home-feat-eventos-c2a h2 {
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 2;
    font-size: 15px;
    background-color: #012980;
    padding: 20px;
}






@media (max-width: 992px) {

#home-feat-eventos {padding: 40px 20px 40px 20px;}

#home-feat-eventos-desc {width: 100%; padding: 0 5px}

#home-feat-eventos-title {width: 100%;}

}

@media (max-width: 768px) {

#home-feat-eventos-title {border-right: 0;}

#home-feat-eventos-title h1 {font-size: 20px;}

#home-feat-eventos-title h2 a {padding: 10px 12px;}

}




























/* Scrollbar */

#eventos-semana .evento-contenido::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	/* border-radius: 10px; */
	background-color: #F5F5F5;
}

#eventos-semana .evento-contenido::-webkit-scrollbar
{
	width: 15px;
	/* background-color: #F5F5F5; */
}

#eventos-semana .evento-contenido::-webkit-scrollbar-thumb {
	/* border-radius: 10px; */
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #C95C36;
    background-color: #BCBCBC;
    padding: 0 8px;
    border: 1px solid #F4F4F4;
}

#eventos-semana .evento-contenido::-webkit-scrollbar-thumb:hover {
    background-color: #aba7a7;
}









#eventos-semana .evento-contenido > div {
	display: none;
}

#eventos-semana .evento-contenido > div.active {
	display: block;
}

#eventos-semana .evento-contenido .item-evento {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 2;
    margin: 30px 20px 20px 20px;
}
		
#eventos-semana .evento-contenido .item-evento i {
	margin: 0 5px 0 0;
}

#eventos-semana .evento-contenido .item-evento > div {
	margin: 0;
	width: 100%;
	padding: 20px;
	cursor: pointer;
	border-radius: 0;
}

#eventos-semana .evento-contenido .item-evento > div .title {
    font-weight: 600;
}

#eventos-semana .evento-contenido .item-evento > div .date {
	background-color: #00aec7;
    color: #fff;
    padding: 3px 12px;
    font-size: 13px;
    position: absolute;
    left: 0;
    top: -17px;
}

.card.no-item {
    text-align: center;
    padding: 30px !important;
}

.card.no-item i {
    display: block;
    font-size: 60px;
    margin: 26px;
}











#home-feat-eventos {
    float: left;
    width: 50%;
    height: inherit;
    padding: 20px 40px 20px 50px;
}

#eventos-calendario #eventos-semana {
    float: left;
    position: relative;
    width: 50%;
}

#eventos-calendario #eventos-semana ul.lista-semana {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13.5px;
    letter-spacing: 1px;
    line-height: 1.6;
    text-align: center;
    text-transform: capitalize;
    float: left;
	width: 115px;
    overflow: hidden;
    margin: 0;
    padding: 0;
	list-style: none;
}

#eventos-calendario #eventos-semana ul.lista-semana li {
	background: #fff;
	border-bottom: 1px solid #dadada;
    color: #003879;
	cursor: pointer;
	padding: 10px;
	
	-moz-transition: all 100ms ease;
	-ms-transition: all 100ms ease;
	-o-transition: all 100ms ease;
	-webkit-transition: all 100ms ease;
	transition: all 100ms ease;
}

#eventos-calendario #eventos-semana ul.lista-semana li.active {
	color: #0033a0;
    background-color: #e3e829;
}

#eventos-calendario #eventos-semana ul.lista-semana li.active:after {
	content: '';
    border-left: 10px solid #e3e829;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
    position: absolute;
	left: 114px;
	margin-top: -10px;
    z-index: 9;
}

#eventos-calendario #eventos-semana ul.lista-semana li:hover {
	color: #0033a0;
    background-color: #e3e829;
}

#eventos-calendario #eventos-semana .evento-contenido {
	float: right;
	width: 78%;
	overflow: auto;
    height: 441px;
}

#eventos-calendario #eventos-semana .evento-contenido .item-evento > div > div {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 13.5px;
	font-weight: 400;
	letter-spacing: 1px;
    line-height: 2.2;
    max-height: 165px;
    overflow: hidden;
    margin-top: 5px;
}


@media all and (max-width: 1199px) {

#eventos-calendario #eventos-semana .evento-contenido {
	float: left;
	width: 75%;
}

}





/* Responsive Calendar */


@media all and (max-width: 992px) {

#eventos-calendario #home-feat-eventos {}

#eventos-calendario #eventos-semana ul.lista-semana {
    width: 100%;
    padding: 20px 30px 0;
}

#eventos-calendario #eventos-semana ul.lista-semana li {
    color: #fff;
    font-size: 0;
    line-height: 1;
    display: inline-block;
    width: 14.25%;
    padding: 20px 0;
}

#eventos-calendario #eventos-semana ul.lista-semana li:hover {
    color: #fff;
    background-color: #012055;
}

#eventos-calendario #eventos-semana ul.lista-semana li:before {
    color: #003879;
    font-size: 40px;
    font-weight: 600;
}

#eventos-calendario #eventos-semana ul.lista-semana li.active:before {
    color: #fff;
}

#eventos-calendario #eventos-semana ul.lista-semana li.lunes:before { content: 'L';}

#eventos-calendario #eventos-semana ul.lista-semana li.martes:before {content: 'M';}

#eventos-calendario #eventos-semana ul.lista-semana li.miercoles:before {content: 'W';}

#eventos-calendario #eventos-semana ul.lista-semana li.jueves:before {content: 'J';}

#eventos-calendario #eventos-semana ul.lista-semana li.viernes:before {content: 'V';}

#eventos-calendario #eventos-semana ul.lista-semana li.sabado:before {content: 'S';}

#eventos-calendario #eventos-semana ul.lista-semana li.domingo:before {content: 'D';}

#eventos-calendario #eventos-semana ul.lista-semana li.active:after {
    content: none;
}

#home-feat-eventos {
	width: 100%;
	padding: 20px 40px 20px 50px;
	height: auto;
}
	
#eventos-calendario #eventos-semana {
	position: relative;
	width: 100%;
}
   
#eventos-calendario #eventos-semana .evento-contenido {
    width: 100%;
	height: auto;
    padding-bottom: 30px;
}

#eventos-calendario #eventos-semana .evento-contenido .item-evento {
    margin: 0;
    padding: 30px 30px 0 30px;
}


}




@media (max-width: 568px) {

#eventos-calendario #eventos-semana ul.lista-semana {
    padding: 0;
}

#eventos-calendario #eventos-semana ul.lista-semana li {
    width: 25%;
}

#eventos-calendario #eventos-semana ul.lista-semana li:before {
    font-size: 30px;
}

}








